<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <style>
        body {
            background-color: rgb(68, 67, 67);
            color: wheat;
            font-family: sans-serif;
        }
    </style>
</head>

<body>
    <h1>This is the Home page.</h1>
    <h1>
        <!-- <%= 1+2 %> -->
        <%= ["apple", " banana", " orange"] %>
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eum laboriosam fugit. Dolore non amet
        aliquam, libero officiis eos voluptatem quod minima accusantium facilis. At dignissimos voluptatibus unde!
        Error, maxime.
    </p>
    <button>clike me!</button>
</body>

</html>