<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rolldice</title>
</head>

<body>
    <!-- ## first approch -->
    <!-- <h1> -->
    <!-- Dice gave value:  -->
    <!-- <%= Math.floor(Math.random() * 6) + 1 %> -->
    <!-- </h1> -->

    <!-- ## second approch -->
    <!-- <h1> -->
    <!-- Dice gave value: <%= num %> -->
    <!-- </h1> -->

    <!-- ## Third approch -->
    <h1>
        Dice gave value: <%= num %>
            <% if (num==6) { %>
                <h2>Nice!, Roll dice agian.</h2>
                <% } %>
    </h1>

    <script>
    </script>
</body>

</html>