<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>All chats!</h2>
    <form method="get", action="/chats/new">
        <button class="btn">New Chat</button>
    </form>

    <% for (const chat of chats) { %>
        <div class="chat">
            <p>From: <%= chat.from %></p>
            <div class="msg">
                <p>messge: <%= chat.msg %></p>
            </div>
            <p>Received by <%= chat.to %></p>
            <hr>
        </div>
        <% } %>
</body>
<script>

</script>

</html>