<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write a new chat</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h3>Write new chat..</h3>
    <form method="post" action="/chats">
        <input type="text" name="from" placeholder="your name">
        <br><br>
        <textarea name="msg" placeholder="Write messge..."></textarea>
        <br><br>
        <input type="text" placeholder="receiver name" name="to">
        <br><br>
        <button class="btn">Send</button>
    </form>
</body>

</html>